<template>
  <div>
    <router-link :to="{ name: 'HomeView' }" class="btn-homePage">
      <button class="ml-3 grid grid-cols-2 sticky top-5 md:top-28 z-10">
        <img
          src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/24/000000/external-arrow-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya-9.png"
          alt="arrow return to home page"
        />
        {{ t('navigations.return') }}
      </button>
    </router-link>
    <PageError v-if="error404" />
    <LoadingPage v-else-if="loading" />
    <CharacterInformation :characterId="characterId" v-else />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue';
import { translate } from '@/i18n';
import CharacterInformation from '@/components/CharacterInformation.vue';
import LoadingPage from '@/components/LoadingPage.vue';
import PageError from '@/components/PageError.vue';
import { useStore } from '@/store';

export default defineComponent({
  props: { characterId: String },
  setup() {
    const { getters } = useStore();
    const loading = computed(() => getters.getLoading);
    const error404 = computed(() => getters.getError404);
    return { t: translate, loading, error404 };
  },
  components: { CharacterInformation, LoadingPage, PageError },
});
</script>
