<template>
  <PageError v-if="error404" />
  <div id="homePage" v-show="!error404">
    <div class="w-full flex justify-center mb-5">
      <button @click="toggleSearch()">{{labelSearch}}</button>
    </div>

    <Transition name="bounce">
      <p v-if="showSearch" style="text-align: center">
        <SearchCards />
      </p>
    </Transition>
    <PaginationCards />
    <span v-if="loadingFilter">...{{translate('navigations.loading')}}</span>
    <CollectionCards v-else />
    <PaginationCards />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from 'vue';
import CollectionCards from '@/components/CollectionCards.vue';
import SearchCards from '@/components/SearchCards.vue';
import PaginationCards from '@/components/PaginationCards.vue';
import PageError from '@/components/PageError.vue';
import { useStore } from '@/store';
import { translate } from '@/i18n';

export default defineComponent({
  setup() {
    const { getters } = useStore();
    const error404 = computed(() => getters.getError404);
    const showSearch = ref(false);
    const loadingFilter = computed(() => getters.getLoadingFilter);
    const toggleSearch = () => {
      showSearch.value = !showSearch.value;
    };
    const labelSearch = computed(() => (
      showSearch.value
        ? translate('card.search.hideForm')
        : translate('card.search.displayForm')));
    return { error404, showSearch, toggleSearch, labelSearch, loadingFilter, translate };
  },
  components: {
    CollectionCards,
    SearchCards,
    PaginationCards,
    PageError,
  },
});
</script>

<style>
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
</style>
