<template>
  <div v-if="character" id="character">
    <h2
      :class="`character__name text-3xl text-center ${character.status === 'Alive'
          ? 'text-green-500' : character.status === 'Dead' ? 'text-red-500'
          : 'text-stone-500'} `"
    >
      {{ blurpTranslate(character.name) }}
    </h2>
    <div>
      <section>
        <aside
          :class="`m-5 rounded-md ${character.status === 'Alive'
          ? 'bg-green-500/10' : character.status === 'Dead' ? 'bg-red-500/10'
          : 'bg-stone-500/10'} shadow-lg p-5`"
        >
          <figure>
            <picture class="grid justify-center">
              <img
                :src="character.image"
                :alt="blurpTranslate(character.name)"
                class="rounded-full character__img"
              />
            </picture>
            <figcaption></figcaption>
          </figure>
          <blockquote class="grid justify-center" lang="en">
            <tbody>
              <tr
                tabindex="0"
                v-for="(key, index) in KEY_INFORMATION"
                :key="index"
                :class="'character__' + key"
              >
                <th :class="'character__' + key + '__title'">{{ t('character.' + key) }} :</th>
                <td :class="'character__' + key + '__info'">
                  {{ blurpTranslate(character[key]) }}
                </td>
              </tr>
              <tr
                tabindex="0"
                v-for="(key, index) in KEY_LOCATION"
                :key="index"
                :class="'character__' + key"
              >
                <th :class="'character__' + key + '__title'">{{ t('character.' + key) }} :</th>
                <td :class="'character__' + key + '__info'">
                  {{ blurpTranslate(character[key].name) }}
                </td>
              </tr>
            </tbody>
          </blockquote>
        </aside>
        <article class="relative">
          <div class="ml-3">
            <h3 class="text-white text-lg mb-3">
              {{ t("character.episode.count")+ " "+character.episode.length}}
            </h3>
          </div>
          <span v-if="laodingEpisodes" tabindex="0">...{{ t('navigations.loading') }}</span>
          <ul v-else class="my-5 grid-cols-1 md:grid-cols-2 grid lg:grid-cols-3 xl:grid-cols-4">
            <li
              class="shadow-lg mt-5 mx-3 p-3 bg-white/50 align-center rounded"
              v-for="episode in episodes"
              :key="episode.id"
            >
              <ul class="grid grid-cols-5">
                <li class="row-span-1">
                  <img src="https://img.icons8.com/ios/50/000000/retro-tv.png" alt="tv logo" />
                </li>
                <ul class="col-start-2 col-end-6" tabindex="0">
                  <li>{{ t('character.episode.number') }}: {{blurpTranslate(episode.episode)}}</li>
                  <li>{{ t('character.episode.title') }}: {{blurpTranslate(episode.name)}}</li>
                  <li>
                    {{ t('character.episode.airDate') }}: {{blurpTranslate(episode.air_date)}}
                  </li>
                </ul>
              </ul>
            </li>
          </ul>
        </article>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
import { useStore } from '@/store';
import { Character, QueryEpisode } from '@/store/cardsModule';
import { computed, defineComponent, onMounted } from 'vue';
import { translate } from '@/i18n';
import blurpTranslate from '@/lib/blurpTranslate';

export default defineComponent({
  props: { characterId: String },
  setup(props) {
    const { dispatch, getters } = useStore();
    const KEY_INFORMATION = ['status', 'species', 'type', 'gender'] as const;
    const KEY_LOCATION = ['location', 'origin'] as const;
    const character = computed((): null | Character => props.characterId
      && getters.getList[props.characterId]);
    const episodesToDisplay = computed((): QueryEpisode[] => Object.values(
      getters.getEpisodesById(props.characterId),
    ));
    const laodingEpisodes = computed(() => getters.getLoadingEpisodes);
    onMounted(async () => {
      const { characterId } = props;
      if (props.characterId && !character.value) {
        const id = parseInt(props.characterId, 10);
        await dispatch('fetchCharacter', id);
      } else if (character.value) {
        const { episode } = character.value;
        await dispatch('fetchEpisodes', { episodesUrl: episode, characterId });
      }
    });
    return {
      t: translate,
      blurpTranslate,
      episodes: episodesToDisplay,
      character,
      laodingEpisodes,
      KEY_INFORMATION,
      KEY_LOCATION,
    };
  },
});
</script>
