<template>
  <LoadingPage v-if="loading" />
  <div
    v-show="!loading"
    id="cards"
    class="grid grid-cols-1
  md:grid-cols-2 place-items-center gap-px"
  >
    <section
      :class="`card w-80 md:w-9/12 md:h-8/12 mx-auto my-5
      m-5  ${card.status === 'Alive'
          ? 'bg-green-500/10' : card.status === 'Dead' ? 'bg-red-500/10' : 'bg-stone-500/10'}
      rounded-lg p-5 border-slate-800 shadow-lg
      hover:drop-shadow-2xl overflow-hidden`"
      v-for="(card, index) in cards"
      :key="index"
    >
      <router-link
        style="text-decoration-line:none;"
        class="card__page text-lg no-underline flex
    leading-tight font-medium text-black hover:underline"
        :to="{ name: 'CharacterView', params: { characterId: card.id } }"
      >
        <figure class="md:flex">
          <div
            class="card__bg md:bg-white md:rounded-l-xl"
            :style="`background-image: url(${card.image})`"
          >
            <img
              class="card__img h-48 rounded-full m-auto w-48 object-cover md:h-full md:w-48
                md:rounded-xl"
              :src="card.image"
              :alt="card.name"
              loading="lazy"
            />
          </div>
          <figcaption class="p-8">
            <blockquote lang="en" tabindex="0" class="">
              <h2
                tabindex="0"
                class="card__name uppercase tracking-wide text-sm text-blue-300 font-semibold"
              >
                {{ blurpTranslate(card.name) }}
              </h2>
              <article class="mt-2 text-white">
                <ul class="card__bottom">
                  <li>
                    <span class="text-black font-bold card__status"> {{ t('card.status') }}: </span>
                    <span>{{ blurpTranslate(card.status) }}</span>
                  </li>
                  <li>
                    <span class="text-black font-bold card__type"> {{ t('card.type') }}: </span>
                    <span>{{ blurpTranslate(card.type) }}</span>
                  </li>
                  <li>
                    <span class="text-black font-bold card__species">
                      {{ t('card.species') }}:
                    </span>
                    <span>{{ blurpTranslate(card.species) }}</span>
                  </li>
                  <li>
                    <span class="text-black font-bold card__gender"> {{ t('card.gender') }}: </span>
                    <span>{{ blurpTranslate(card.gender) }}</span>
                  </li>
                  <li>
                    <span class="text-black font-bold card__position">
                      {{ t('card.origin') }}:
                    </span>
                    <span>{{ blurpTranslate(card.origin.name) }}</span>
                  </li>
                  <li>
                    <span class="text-black font-bold card__location">
                      {{ t('card.location') }}:
                    </span>
                    <span>{{ blurpTranslate(card.location.name) }}</span>
                  </li>
                </ul>
                <router-link
                  class="card__page block text-lg
                leading-tight font-medium  hover:underline"
                  :to="{ name: 'CharacterView', params: { characterId: card.id } }"
                  ><button
                    :class="`text-white mt-5
                  ${card.status === 'Alive'
                  ? 'bg-green-500/50 hover:text-green-500' : card.status === 'Dead' ?
                  'bg-red-500/50 hover:border-red-500 hover:text-red-500' :
                  'bg-stone-500/50 hover:border-stone-500/50'}`"
                  >
                    {{ t('card.moreDetails') }}
                  </button>
                </router-link>
              </article>
            </blockquote>
          </figcaption>
        </figure>
      </router-link>
    </section>
  </div>
</template>

<script lang="ts">
import { computed, ComputedRef, defineComponent, onMounted } from 'vue';
import { useStore } from '@/store';
import { Character } from '@/store/cardsModule';
import LoadingPage from '@/components/LoadingPage.vue';
import { translate } from '@/i18n';
import blurpTranslate from '@/lib/blurpTranslate';

export default defineComponent({
  setup() {
    const { dispatch, getters } = useStore();
    const loading = computed(() => getters.getLoading);

    const cards: ComputedRef<Character[]> = computed(() => {
      if (!getters.getStatusFilter) return getters.getCurrentPageList;
      return getters.getListFilter;
    });
    onMounted(async () => {
      await dispatch('fetchCharacters');
    });
    return {
      cards,
      loading,
      blurpTranslate,
      t: translate,
    };
  },
  components: {
    LoadingPage,
  },
});
</script>

<style>
.card__bg{
  background-size: cover;
  backdrop-filter: blur(2px);
}
</style>
