<template>
  <div class="loading">
    <img
      class="loading__img"
      width="300"
      height="300"
      :src="require(locale === 'blurp' ? '@/assets/logo-blurp.png' : '@/assets/logo.png')"
      alt=""
    />
    <span>...{{ t('navigations.loading') }}</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { translate } from '@/i18n';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  setup() {
    const { locale } = useI18n({ useScope: 'global' });
    return { t: translate, locale };
  },
});
</script>

<style>
.loading{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  top: 0;
  z-index: 4;
  left: 0;
  background-color: rgb(150, 150, 150, 0.8);
}

.loading__img{
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
