-
<template>
  <div class="page404">
    <h2 class="page404__h2 text-white text-3xl">{{ t('navigations.error404') }}</h2>
    <img class="page404__img h-full" src="@/assets/logo-404.png" alt="error404 not found" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { translate } from '@/i18n';

export default defineComponent({
  setup() {
    return { t: translate };
  },
});
</script>

<style>
.page404 {
  display: grid;
  grid-template-rows: auto 70vh;
  place-items: center;
};
</style>
