<template>
  <aside class="mb-5">
    <legend class="mx-10">
      <ul
        class="rounded-lg w-full text-blue-900 grid grid-cols-1 bg-white/70 mb-5
           py-2 pl-9 pr-3 grid-rows-2
           shadow-sm focus:outline-nonesm:text-sm"
      >
        <li tabindex="0" class="pagination__count">
          {{ t('navigations.pagination.count') }}{{ count }}
        </li>
        <li tabindex="0" class="pagination__pagesCount">
          {{ t('navigations.pagination.pages') }}{{ pages }}
        </li>
      </ul>
    </legend>
    <ul
      class="grid grid-cols-3 justify-center list-style-none items-center
    justify-items-center align-middle my-5"
    >
      <li>
        <button
          tabindex="0"
          class="pagination__previous min-w-30"
          @keypress.enter="changePage(currentPage - 1)"
          @click.prevent="changePage(currentPage - 1)"
          v-show="currentPage > 1"
        >
          {{ t('navigations.pagination.previous') }}
        </button>
      </li>
      <li
        class="pagination__pages page-link relative py-1.5 px-3 rounded border-0
        bg-transparent outline-none justify-center flex
        transition-all duration-300s text-gray-800 hover:text-gray-800 focus:shadow-none"
      >
        <select
          :value="currentPage"
          class="pagination__select page-link shadow-2xl text-dark bg-transparent
          bg-green-500 rounded-lg p-5"
          @click.prevent="changePageEvent"
        >
          <option v-for="page in pages" :key="page" v-bind:value="page" class="pagination__option">
            {{ page }}
          </option>
        </select>
      </li>
      <li>
        <button
          tabindex="0"
          class="pagination__next min-w-30"
          @keypress.enter="changePage(currentPage + 1)"
          @click.prevent="changePage(currentPage + 1)"
          v-show="currentPage < pages"
        >
          {{ t('navigations.pagination.next') }}
        </button>
      </li>
    </ul>
  </aside>
</template>

<script lang="ts">
import { useStore } from '@/store';
import { computed, defineComponent } from 'vue';
import { translate } from '@/i18n';

export default defineComponent({
  setup() {
    const { getters, dispatch } = useStore();

    const pages = computed(() => (getters.getStatusFilter
      ? getters.getCountPageFilter
      : getters.getCountPage));
    const count = computed(() => (getters.getStatusFilter
      ? getters.getCountCharacterFilter
      : getters.getCountCharacter));
    const currentPageStore = computed(() => (getters.getStatusFilter
      ? getters.getCurrentPageFilter
      : getters.getCurrentPage));

    const changePage = (page: number) => {
      if (getters.getStatusFilter) dispatch('filterCharacter', { page });
      else dispatch('fetchCharacters', page);
    };
    const changePageEvent = (event: Event) => {
      const page = (event.target as HTMLInputElement).value;
      if (getters.getStatusFilter) dispatch('filterCharacter', { page });
      else dispatch('fetchCharacters', page);
    };
    return {
      t: translate,
      pages,
      count,
      currentPage: currentPageStore,
      changePage,
      changePageEvent,
    };
  },
});
</script>
