<template>
  <form id="searchCard" class="mx-10" @submit.prevent="searchSubmit">
    <div v-show="error" id="searchCard__error font" class="text-red-300 text-lg">
      {{ t('card.search.error') }}
    </div>
    <div class="searchCard__name mb-5">
      <label for="searchCharacter" class="searchCard__label relative block">
        <span class="sr-only">{{ t('card.search.label') }}</span>

        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <img
            width="25"
            height="25"
            src="https://img.icons8.com/ios/50/000000/search--v1.png"
            alt="logo for research"
          />
        </span>
        <input
          name="searchCharacter"
          :placeholder="t('card.search.placeholder')"
          list="name"
          type="text"
          class="searchCard__input placeholder:italic placeholder:text-slate-400
           block bg-white w-full
           border border-slate-300 rounded-md py-2 pl-9 pr-3
           shadow-sm focus:outline-none sm:text-sm"
          v-model.trim="name"
        />
      </label>
    </div>
    <div
      class="block bg-white w-full mb-5
           border border-slate-300 rounded-md py-2 pl-9 pr-3
           shadow-sm focus:outline-nonesm:text-sm"
    >
      <div
        v-for="constante in SEARCH_CONST"
        :class="`searchCard__${constante.title} border-b-2 py-4`"
        :key="constante.title"
      >
        <h3
          class="text-center w-full text-slate-400 capitalize
       text-xl pb-3"
        >
          {{ t(`card.search.key.${constante.title}`) }}
        </h3>
        <label
          v-for="element in constante.list"
          :key="element"
          :for="`searchCard__${constante.title}__${element}`"
          class="searchCard__label form-check-label inline-block text-gray-800 pl-3"
        >
          <input
            type="radio"
            :name="`searchCard__${constante.title}`"
            class="searchCard__filter form-check-input appearance-none h-4 w-4 border
            border-gray-300
          rounded-full bg-white checked:bg-green-600 checked:border-green-600 focus:outline-none
          transitionduration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left
          mr-2 cursor-pointer"
            :on="`submitState__${constante.title}__${element}`"
            :id="`searchCard__${constante.title}__${element}`"
            :value="element"
            :checked="element === submitState[constante.title]"
            @input="changeInput([constante.title, element])"
          />
          {{ t(`card.search.value.${element}`) }}
        </label>
      </div>
      <div class="grid grid-cols-2 place-items-center pt-3">
        <button type="submit" class="searchCard__submit bg-green-500 text-white hover:text-black">
          {{ t('card.search.submit') }}
        </button>
        <button
          type="button"
          class="searchCard__reset bg-green-500 text-white hover:text-black"
          @click.prevent="resetFilter"
        >
          {{ t('card.search.reset') }}
        </button>
      </div>
    </div>
    <datalist id="name">
      <option v-for="(name, index) in nameDatalist" :value="name" :key="index"></option>
    </datalist>
  </form>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from 'vue';
import { useStore } from '@/store';
import { translate } from '@/i18n';

export default defineComponent({
  setup() {
    const STATUS_SEARCH = {
      title: 'status',
      list: ['alive', 'dead', 'unknown', 'none'],
    } as const;
    const GENDER_SERRCH = {
      title: 'gender',
      list: ['female', 'male', 'genderless', 'unknown', 'none'],
    } as const;
    const { dispatch, getters } = useStore();
    const name = ref('');
    const error = ref(false);

    const initState = {
      status: 'none',
      gender: 'none',
    };
    const submitState = ref(initState);
    const resetFilter = () => {
      dispatch('resetFilter');
      name.value = '';
      submitState.value = initState;
    };

    watch(name, () => {
      const { status, gender } = submitState.value;
      if (error.value) error.value = false;

      if (name.value === '' && status === 'none' && gender === 'none') {
        resetFilter();
      } else {
        dispatch('filterCharacter', { ...submitState.value, name: name.value });
      }
    });

    const changeInput = (values: string[]) => {
      const [titleInput, valueInput] = values;
      if (error.value) error.value = false;

      submitState.value = {
        ...submitState.value,
        [titleInput]: valueInput,
      };
      const { status, gender } = submitState.value;
      if (name.value === '' && status === 'none' && gender === 'none') {
        resetFilter();
      } else {
        dispatch('filterCharacter', { ...submitState.value, name: name.value });
      }
    };

    const nameDatalist = computed(() => getters.getNameFilter);
    const searchSubmit = () => {
      const { status, gender } = submitState.value;
      if (name.value === '' && status === 'none' && gender === 'none') {
        error.value = true;
      } else {
        dispatch('filterCharacter', { ...submitState.value, name: name.value ?? null });
      }
    };

    return {
      t: translate,
      SEARCH_CONST: [STATUS_SEARCH, GENDER_SERRCH],
      submitState,
      nameDatalist,
      name,
      error,
      searchSubmit,
      resetFilter,
      changeInput,
    };
  },
});
</script>
