<template>
  <form id="languageSelector">
    <label
      for="language-select"
      class="md:bg-neutral-400/30
         bg-transparent hover:bg-neutral-400/30 p-8 md:p-3 hover:shadow-lg
         flex items-center languageSelector__label"
    >
      <span class="sr-only" id="languageSelector__title">{{
        t('navigations.selectLanguage.label')
      }}</span>
      <div class="h-full">
        <img
          src="https://img.icons8.com/material-outlined/24/000000/language.png"
          alt="logo to change language"
        />
      </div>

      <select
        name="language-select"
        id="language-select"
        class="languageSelector__select bg-transparent
         md:p-2 md:text-white-500  rounded-md"
        v-model="langSelect"
      >
        <option
          v-for="language in SUPPORT_LOCALES"
          :key="language"
          name="languageSelector__options"
          :id="language"
          :value="language"
        >
          {{ language }}
        </option>
      </select>
    </label>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';
import { SUPPORT_LOCALES, translate } from '@/i18n';
import { useI18n } from 'vue-i18n';

export default defineComponent({
  setup() {
    const { locale } = useI18n({ useScope: 'global' });
    const langSelect = ref(localStorage.getItem('locale-i18n') ?? 'en');
    watch(langSelect, (lang, prevLang) => {
      localStorage.setItem('locale-i18n', lang);
      if (prevLang !== lang) locale.value = lang;
    });
    return { SUPPORT_LOCALES, langSelect, t: translate };
  },
});
</script>

<style></style>
