<template>
  <div id="main">
    <nav
      class="grid grid-cols-1 place-items-center p-16 md:p-6 md:mb-3 cursor-pointer
      md:grid-cols-2 md:sticky rounded-b-lg md:top-0 md:z-[10] md:bg-black-500/50"
    >
      <h1
        class="font-semibold text-6xl md:text-xl
      text-center md:mx-4 justify-self-start"
        tabindex="0"
      >
        {{ t('website.title') }}
      </h1>
      <div
        class="fixed top-0 right-0 duration-300 ease-linear
   bg-neutral-400/30 rounded z-[10] md:relative justify-self-end"
      >
        <SelectLanguage />
      </div>
    </nav>
    <router-view />
    <footer class="bg-black/30 py-10 mt-5">
      <ul class="grid justify-center text-center text-white">
        <li tabindex="0">Made By Oréliau KOUMEDZRO</li>
        <li tabindex="0">Vuejs3 / VueRouter / VueX</li>
        <li tabindex="0">esling / TypeScript / Jest</li>
        <li tabindex="0">i18n / a11y</li>
        <li tabindex="0">
          icons from <a href="https://icons8.com/icon/132/chercher">Chercher icon by Icons8</a>
        </li>
      </ul>
    </footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { translate } from '@/i18n';
import SelectLanguage from '@/components/SelectLanguage.vue';

export default defineComponent({
  setup() {
    return { t: translate };
  },
  components: { SelectLanguage },
});
</script>

<style>
h1 {
  background: rgb(136, 74, 170);
  background: -moz-linear-gradient(
    338deg,
    rgba(136, 74, 170, 1) 0%,
    rgba(59, 130, 246, 1) 27%,
    rgba(74, 222, 128, 1) 100%
  );
  background: -webkit-linear-gradient(
    338deg,
    rgba(136, 74, 170, 1) 0%,
    rgba(59, 130, 246, 1) 27%,
    rgba(74, 222, 128, 1) 100%
  );
  background: linear-gradient(
    338deg,
    rgba(136, 74, 170, 1) 0%,
    rgba(59, 130, 246, 1) 27%,
    rgba(74, 222, 128, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#884aaa",endColorstr="#4ade80",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
