@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto');
body {
  font-family: 'Roboto', sans-serif;
  background-image: url(./assets/876591.jpg);
  background-size: contain;
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  box-shadow: 0 50px 3px #646464cc;
  background-color: black;
}

#app {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(100, 100, 100, 0.8);
}

@layer base {
  button {
    @apply p-5 text-white bg-green-500/50 rounded-tl-3xl rounded-br-3xl shadow-lg;
  }
  button:hover {
    @apply shadow-2xl text-white bg-transparent border-2 border-green-500;
  }
}
